# pub
.dart_tool/
build/
pubspec.lock  # Except for application packages

# dart doc
doc/api/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Mac
.DS_Store

# Other
android/settings.gradle
/.dart_tool
.flutter-plugins-dependencies
