# pub
/.dart_tool
/build
pubspec.lock

# dart doc
/doc/api

# IntelliJ
*.iml
*.ipr
*.iws
/.idea

# iOS
/ios/.symlinks
/ios/Flutter
/ios/Runner
ios/Runner.xcworkspace/xcuserdata/aszm.xcuserdatad/UserInterfaceState.xcuserstate

# Mac
.DS_Store
/macos/Flutter/ephemeral

# Android
/android/.gradle
/android/.idea
android/settings.gradle
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
android/gradle/wrapper/gradle-wrapper.jar

# Other
.flutter-plugins-dependencies